DIV.table {
    display: table;
}

FORM.tr, DIV.tr {
    display: table-row;
}

SPAN.td {
    display: table-cell;
}


.btn-rounded {
    border-radius: 19px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 3px;
}

